<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
body,td { color:#000000; font:12px/18px Helvetica, Arial, Verdana, sans-serif; word-wrap: break-all; margin: 0;}
</style>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" width="650px">
  <tr>
    <td><table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fff" width="650px">
        <tr>
          <td><img style="padding:10px;" src="http://thebuzzelectronics.com/skin/frontend/rwd/default/images/logo.png"/></td>
          <!--width="270px" height="130px"-->
          <td style="font-size:15px;line-height:1.25;"><span>Orders: 1-844-490-BUZZ</span><br/>
            <span>Customer Service: 1-866-666-2899</span></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td bgcolor="#fff" height="15px"></td>
  </tr>
  <tr>
    <td bgcolor="#000" height="2px"></td>
  </tr>
  <tr>
    <td bgcolor="#be000d" height="40px"><h1 style="color:#fff;text-align:center;text-transform:uppercase;font-size:22px;">Email Confirmed  </h1></td>
  </tr>
  <tr>
    <!-----IN----------------------------------------------------------------------------------------->
    <td style="padding:30px;"> <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Welcome to {{var store.getFrontendName()}}. To log in when visiting our site just click <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> or <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">My Account</a> at the top of every page, and then enter your e-mail address and password.</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">When you log in to your account, you will be able to do the following:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Proceed through checkout faster when making a purchase</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Check the status of orders</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; View past orders</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Make changes to your account information</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Change your password</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Store alternative addresses (for shipping to multiple family members and friends!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p><br/>
	  <p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></td>
    <!----OUT------------------------------------------------------------------------------------------>
  </tr>
  <tr>
    <td bgcolor="#000" height="2px"></td>
  </tr>
  <tr>
    <td bgcolor="#be000d" height="40px"><p style="color:#fff;text-align:center;font-size:15px;">Sales: 1.844.490.BUZZ | Flatbush Store: 718.258.1200 | Boro Park Store: 718.399.4900</p></td>
  </tr>
  <tr>
    <td bgcolor="#000" height="1px"></td>
  </tr>
  <tr>
    <td bgcolor="#434343" height="50px"><p style="color:#ccc;text-align:center;font-size:14px;padding:40px;">© 2015 Buzz Electronics. All Rights Reserved.</p></td>
  </tr>
</table>
</body>
</html>
